body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: #242424;
}
html, body{
    padding: 0;
    margin: 0;
  }
  html{
    height: 100%;
  }
  body{
    min-height: 100%;
  
  }